@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf")
}

@font-face{
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf")
}

body{
    font-family: 'Poppins', sans-serif;
}

nav > a{  
    font-size: small;
}

.gray-font{
    color: #C4C4C4;
}

.central-text{
    margin-left: 3rem;
}

.inputs-styles{
    width: 20rem;
    height: 4rem;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
}

#text-area-style{
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
}

#btn-green-consult{
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    border-radius: 20px;
    background-color: #14F195;
    font-size: large;
    font-weight: 600;
}

#btn-black-about{
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    color: white;
    border-radius: 20px;
    background-color: #000000;
    font-size: large;
    font-weight: 400;
    border: 1px white solid;
}

.img-advantages{
    margin-top: 4rem;
    margin-inline: auto;
}