@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf")
}

@font-face{
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf")
}

body, footer{
    font-family: 'Poppins', sans-serif;
}

nav > a{  
    font-size: small;
}

.gray-font{
    color: #C4C4C4;
}

.central-text{
    margin-left: 3rem;
}

.inputs-styles{
    width: 20rem;
    height: 4rem;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
}

#text-area-style{
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
}

#btn-green-consult{
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    border-radius: 20px;
    background-color: #14F195;
    font-size: large;
    font-weight: 600;
}

#container-form{
    background-color: #19161C;
    width: 22rem;
    border-radius: 15px;
}

#container-form-desktop{
    background-color: #19161C;
    width: 30rem;
    border-radius: 15px;
}

.inputs-styles-desktop{
    width: 26rem;
    height: 2rem;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
}

.inputs-styles::placeholder, .inputs-styles-desktop::placeholder{
    position: absolute;
    left: 8px;
}

#btn-send-info{
    padding: 10px;
    margin-left: 2rem;
    margin-top: 1rem;
    height: 3rem;
    width: 10rem;
    background-color: #6979F8;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    color: #ffffff;
}

#btn-black-about{
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    color: white;
    border-radius: 20px;
    background-color: #000000;
    font-size: large;
    font-weight: 400;
    border: 1px white solid;
}

.img-advantages{
    margin-top: 4rem;
    margin-inline: auto;
}

.img-advantages-desktop{
    margin-top: 4rem;
    margin-inline: auto;
}

.div-gradient{
    background: linear-gradient(to bottom, #19161C, #000000);
}

#footer{
    background-color: #19161C;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 843px) {
    #div-form{
        flex-direction: column;
        height: 64rem;
    }
}

@media(max-width: 645px){
    .desktop-tags{
        display: none !important;
    }
    .mobile-tags{
        display: block !important;
    }
}